@font-face {
	font-family: "kaeru kaeru";
	src: url("/_includes/assets/fonts/kaerukaeru-Regular.woff2") format("woff2"),
		 url("/_includes/assets/fonts/kaerukaeru-Regular.woff") format("woff");
  }

@font-face {
	font-family: "archivo";
	src: url("/_includes/assets/fonts/Archivo-Medium.woff") format("woff"),
		 url("/_includes/assets/fonts/Archivo-Medium.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

:root {
	--primary: white;
	--background: #fd79d7;
	--hilighter: rgb(236, 255, 66);

	--titlesize: 5em;
	--h2size: 2em;

	--main-spacing: 64px;
    --gap-spacing: 40px;
    --header-height: 80px;
    --hero-spacing: 240px;
	--centered-width: 90%;
	
}

@media (max-width: 880px) {
    :root {
		--titlesize: 3em;
		--h2size: 1.5em;

        --main-spacing: 40px;
        --gap-spacing: 32px;
        --hero-spacing: 120px;
		--centered-width: 75%;
    }
}

@media (max-width: 550px) {
    :root {
		--titlesize:2.5em;
		--h2size: 1em;

        --main-spacing: 32px;
		--hero-spacing: 80px;
		--centered-width: 100%;
    }
}


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	color: var(--primary);
}

body {
	display: grid;
	height: 100vh;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	background-size: cover;
	background-position: 50% 50%;
}

body:after {
	content:"";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/noise.gif");
    background-position: 50% 50%;
    background-size: cover;
    z-index: 20;
	opacity: .1;
	pointer-events:none
}


main {
	max-width: 37.5em;
}

p,
pre,
code {
	line-height: 1.5;
}

header a, header a:visited {
	color: inherit;
}

a[href]:visited {
	color: inherit;
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
	margin: auto;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Typography */

h1, h2, h3  {
	font-family: 'Fira Mono', monospace;
	font-weight: 500;
}
h1, h2 {
	background-color: var(--hilighter);
	color: black;
	padding: 7px;
	display: inline-block;
}

h2 {
	font-size: var(--h2);
}

p a {
	color: var(--hilighter);
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: var(--titlesize);
	margin: 0;
	font-weight: 400;
	font-style: normal;
	font-family: 'kaeru kaeru';
	color: var(--hilighter);
}

header{
	color: whitesmoke;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	color: gray;
}

/* Bullet lists */

article ul li {
	padding: .5em;
}

/* Marquee */
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer{
	width: 100%;
}

.bounce {
	height: 50px;
	overflow: hidden;
	position: relative;
	color: var(--hilighter);
}

.bounce p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(50%);
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	-moz-animation: bouncing-text 5s linear infinite alternate;
	-webkit-animation: bouncing-text 5s linear infinite alternate;
	animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
	0% {
		-moz-transform: translateX(50%);
	}
	100% {
		-moz-transform: translateX(-50%);
	}
}

@-webkit-keyframes bouncing-text {
	0% {
		-webkit-transform: translateX(50%);
	}
	100% {
		-webkit-transform: translateX(-50%);
	}
}

@keyframes bouncing-text {
	0% {
		-moz-transform: translateX(50%);
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
	}
	100% {
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--hilighter);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

.postslist {
	margin: 1.5em auto;
	height: auto;
}

.postslist h3 {
	background-color: transparent;
	padding: 0;
	color: var(--hilighter);
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--hilighter);
	color: var(--hilighter);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--hilighter);
	background-color:var(--hilighter);
	color: var(--background);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Grid */

section.grid {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--gap-spacing);	
}

section.grid p {
    margin: 20px 0 20px 0;
}

section.grid img {
    width: 100%;
}

/* Centered */
section.centered {
    text-align: center;
    width: var(--centered-width);
    margin-left: auto;
    margin-right: auto;
}


/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: auto;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Fira Mono", monospace;
	text-transform: uppercase;
}

button:hover{
	background-color: var(--background);
	color: var(--hilighter);
}

input,
textarea {
	border: 1px solid var(--primary);
}

button {
	border: 1px solid var(--hilighter);
	border-radius: 7px;
	background-color: var(--hilighter);
	color: var(--background);
	cursor: pointer;
}

button a:hover{
	text-decoration: none;
}


/* Media Queries */

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

}

@media (max-width: 800px) {
	main {
		max-width: 100%;
	}
}


@media (max-width: 550px) {

	section.grid{
		display: block;
		grid-template-columns: 1fr;
		margin: var(--main-spacing);
	}

}