<footer>

  <div class="bounce"> 
    <p> ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer ♡ loving.computer
    </p>
  </div>
  
</footer>
