---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
<img src="https://d2w9rnfcy7mm78.cloudfront.net/4537724/original_e196c0c852f209fca259dcf6b59b6132.gif?1561783980?bc=1">
